trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'gowtham1906/myapp'

steps:
- task: DockerInstaller@0
  displayName: 'Install Docker'

- checkout: self

- script: |
    docker build -t $(imageName):$(Build.BuildId) .
    docker tag $(imageName):$(Build.BuildId) $(imageName):latest
  displayName: 'Build Docker image'

- task: Docker@2
  displayName: 'Login to Docker Hub'
  inputs:
    command: 'login'
    containerRegistry: 'DockerHub'  # Make sure DockerConnection is your Docker service connection name

- task: Docker@2
  displayName: 'Push Docker image'
  inputs:
    command: 'push'
    repository: $(imageName)
    tags: |
      $(Build.BuildId)
      latest
